################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Poll/obj
/Poll/obj
/Poll/obj/Debug/CoreCompileInputs.cache
/Poll/obj
