################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Survey.Contract/obj
/Survey.Contract/bin
/Survey.Tests.Contract/obj
/Survey.Tests.Contract/bin
/Survey.Common/bin/Debug
/Survey.Common/obj/Debug
/Survey.Contract.Tests/bin/Debug
/Survey.Contract.Tests/obj/Debug
